body{
    width: 1100px;
    margin:0 auto;
    background-color: #cecece;
}



*,
*::before,
*::after{
    box-sizing: border-box;
}

/*citate*/
blockquote {
    display: block;
    margin-top: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    margin-right: 10px;
    background:rgb(134, 110, 110);
    width: 1100px;
    height: 70px;
    text-align: right;
}
    
 /*header+nav*/   
header {
      border-bottom: 3px solid #272525 ;
      position:absolute;
      top:0;
      left:0;
      z-index: 1000px;
      width:100%;
}


header nav ul.menu-main {
      display: grid;
      grid-template-columns: 4fr  2fr 2fr 2fr 2fr;
      list-style: none;
      margin: 0 auto;
      padding: 25px 0;
      text-align: center;
      width: 1100px;
      height: 110px;  
}


header nav ul.menu-main li {display: inline-block;}
header nav .menu-main li:after {
        color: #606060;
        display: inline-block;
        vertical-align:top;
}


header nav ul.menu-main li:last-child:after {content: none;}
header nav ul.menu-main a {
      text-decoration: none;
      font-family: 'Ubuntu Condensed', sans-serif;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 20px;
      margin: 0 60px 0 15px;
      font-size: 17px;
      text-transform: uppercase;
      display: inline-block;
      transition: color .2s;
}



header nav ul.menu-main a, header nav ul.menu-main a:visited {color: #9d999d;}
header nav ul.menu-main a.current, header nav ul.menu-main a:hover{color: #feb386;}
header nav ul.menu-main a:before,
header nav ul.menu-main a:after {
      content: "";
      position: absolute;
      height: 4px;
      top: auto;
      right: 50%;
      bottom: 5px;
      left: 50%;
      background: #feb386;
      transition: .8s;
}



header nav ul.menu-main a:hover:before, .menu-main .current:before {left: 0;}
header nav ul.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
header nav ul.menu-main {padding-top: 0;}
header nav ul.menu-main li {display: block;}
header nav ul.menu-main li:after {content: none;}
header nav ul.menu-main a {
      padding: 25px 0 20px; 
      margin: 0 30px;
}
}


header nav a:hover{
      color:rgb(235, 52, 19);
}


header .button{
      width:25%; 
      height:80%;
      color:black;
      text-decoration: none;
}


header .button h3{  
      text-decoration: none;
      top: 10px; 
}

    
 /*intro*/

.intro{
      height: 500px;
      background-image: url(fon1.jpg);
      padding-top: 113px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:1350px;
      margin-left: -130px;
}



.intro__title{
      font-size: 65 px;
      font-weight: 700;
      margin:0;
      text-transform: uppercase;
      margin:0 0 30px;
}



.intro__inner{
  max-width: 970px;
  width:100%;
  margin:0 auto;
  line-height: 1.1;
  text-align: center;
}


.intro__subtitle{
      font-size: 22px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 60px;
}


/*button*/
.btn{
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color:#fff;
      font-weight:600;
      text-transform: uppercase;
      text-decoration: none;
      padding: 14px 40px;
      border-radius: 4px;
      font-family: inherit;
      transition: background .1s linear ;
}



.btn--red{
      background-color: red;
}



.btn--red:hover{
      background-color: rgb(197, 103, 103);
}


.container2{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      background: rgb(189, 132, 111);
}
   
 

.text{
      display:grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
}

/*features*/

.features{
      display:flex;
      margin: 100px 0;
      flex-wrap: wrap;
      background-color: #fff;

}

.features__item{
      width: 33.33333%;
      text-align: center;
      padding:0 30px;
      margin: 25px 0;
}


.features__icon{
      margin-bottom: 20px;
}

.features__title{
      font-size: 14px;
      color:rgb(214, 85, 34);
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 15px;

}

.features__text{
      font-size: 14px;
      color:rgb(192, 56, 2);
      line-height: 1.5;

}


/*works*/
 
.works{
  display: flex;
  flex-wrap: wrap;
  
  
}

.works__item{
      width:25%;
      height: 275px;  
      margin-bottom: 100px;
      

}

.works__photo{
  border: 3px solid darkred; 
border-right:3 px solid  darkred;
  
 
  
  
}

/*footer*/
footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      position: absolute;
      margin-left: 25px;
      background:rgb(34, 34, 34);
      width: 1100px;
      height: 200px;
      margin-top: 140px;
      
    }
    
    
    
    footer div h4 {
      color:#aaaaaa;
      text-decoration: none;
      margin-left: 50px;
    }
    
    footer div a{
      color:#aaaaaa;
      text-decoration: none;
      margin-left:60px;
    }