body{
    width: 1100px;
    margin:0 auto;
    background-color: #cecece;
}



*,
*::before,
*::after{
    box-sizing: border-box;
}

/*citate*/
blockquote {
    display: block;
    margin-top: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    margin-right: 10px;
    background:rgb(134, 110, 110);
    width: 1100px;
    height: 70px;
    text-align: right;
}
    
 /*header+nav*/   
header {
      border-bottom: 3px solid #272525 ;
      position:absolute;
      top:0;
      left:0;
      z-index: 3;
      width:100%;
      font-weight: 900;
}


header nav ul.menu-main {
      display: grid;
      grid-template-columns: 4fr  2fr 2fr 2fr 2fr;
      list-style: none;
      margin: 0 auto;
      padding: 25px 0;
      text-align: center;
      width: 1100px;
      height: 110px;  
      
}


header nav ul.menu-main li {
      display: inline-block;
}

header nav .menu-main li:after {
        color: #606060;
        display: inline-block;
        vertical-align:top;
}



header nav ul.menu-main a {
      font-family: 'Inconsolata', monospace;
      text-decoration: none;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 20px;
      margin: 0 60px 0 15px;
      font-size: 20px;
      text-transform: uppercase;
      display: inline-block;
      transition: color .2s;
      z-index: 2;
      font-weight: 700;
}



header nav ul.menu-main a, 
header nav ul.menu-main a:visited 
{
      color: #575457;
}/*culoarea la butoanele din nav*/

header nav ul.menu-main a.current, 
header nav ul.menu-main a:hover
{
      color: #fa7f33;
}

header nav ul.menu-main a:before,
header nav ul.menu-main a:after {
      content: "";
      position: absolute;
      height: 4px;
      top: auto;
      right: 50%;
      bottom: 5px;
      left: 50%;
      background: #feb386;
      transition: .8s;
}

header .button{
      width:25%; 
      height:80%;
      color:black;
      text-decoration: none;
}


header .button h3{  
      text-decoration: none;
      top: 10px; 
}

    
 /*intro*/

.intro{
      height: 500px;
      background-image: url(fon1.jpg);
      padding-top: 113px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width:1150px;
      margin-left: -25px;
      opacity:0.8;
      z-index: 0;
}



.intro__title{
      font-size: 65 px;
      font-weight: 700;
      margin:0;
      text-transform: uppercase;
      margin:0 0 30px;
}



.intro__inner{
  max-width: 970px;
  width:100%;
  margin:0 auto;
  line-height: 1.1;
  text-align: center;
}


.intro__subtitle{
      font-size: 22px;
      line-height: 1.5;
      font-weight: 900;
      margin-bottom: 60px;
}


/*button*/
.btn{
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      color:#fff;
      font-weight:600;
      text-transform: uppercase;
      text-decoration: none;
      padding: 14px 40px;
      border-radius: 4px;
      font-family: inherit;
      transition: background .1s linear ;
}



.btn--red{
      background-color: red;
}



.btn--red:hover{
      background-color: rgb(197, 103, 103);
}


.container2{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      background: rgb(189, 132, 111);
}
   
 

.text{
      display:grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
}

.promotion{
      width: 1100px;
      border: 2px solid rgba(119, 17, 17, 0.123);
      padding: 10px;
      margin-top:100px;
      font-family: 'Inconsolata', monospace;
      font-weight: bolder;
      text-align: center;
      


}

.promotion-ikon{
      width: 1000px;
      
}
.promotion h1{
      font-family: 'Indie Flower', cursive;
      color:rgb(255, 72, 0);
      text-decoration: underline;

}

/*features*/
.container3{
      width: 1100px;
}

.features{
      display:flex;
      margin:5px 0;
      flex-wrap: wrap;
      background-color: #fff;

}

.features__item{
      width: 33.33333%;
      text-align: center;
      padding:0 30px;
      margin: 25px 0;
}


.features__icon{
      margin-bottom: 20px;
}

.features__title{
      font-size: 18px;
      color:rgb(214, 85, 34);
      text-transform: uppercase;
      margin-bottom: 15px;
      font-family: 'Mochiy Pop P One', sans-serif;
}

.features__text{
      font-size: 14px;
      color:rgb(192, 56, 2);
      line-height: 1.5;
      font-family: 'Inconsolata', monospace;
      font-weight: bolder;

}


/*works*/
 
.works{
  display: flex;
  flex-wrap: wrap;
}

.works__item{
      width:25%;
      height: 275px;  
      margin-bottom: 100px;
      margin-top:50px;
}

.works__photo{
      border: 3px solid rgb(228, 65, 0); 
      border-right:3 px solid  rgb(223, 100, 0);
}

/*footer*/
footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      position: absolute;
      margin-left: 10px;
      background-image: url(fon1.jpg);
      width: 1100px;
      height: 200px;
      margin-top: 50px;
      font-family: 'Inconsolata', monospace;
      font-weight: bold;
      z-index: 0;
    }
    
    
    
    footer div h4 {
      color:#000000;
      text-decoration: none;
      margin-left: 50px;
      
    }
    
    footer div a{
      color:#000000;
      text-decoration: none;
      margin-left:60px;
      font-weight: 900;

    }


    