body{
    width: 1100px;
    
    margin: auto;
    
    
    

    }
    .intro{
    

    }

    .container2
    {
        
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background: rgb(189, 132, 111);
    }


    blockquote {
        display: block;
        margin-top: 0px;
        margin-bottom: 0em;
        margin-left: 0px;
        margin-right: 10px;
        background:rgb(173, 1, 1);
        width: 1100px;
        height: 70px;
        text-align: right;
    
    }
     
  
   
  header nav ul.menu-main {
    display: grid;
    grid-template-columns: 4fr  2fr 2fr 2fr 2fr;
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: rgb(66, 60, 60);
    width: 1100px;
    height: 80px;
    
  }
  header nav ul.menu-main li {display: inline-block;}
  header nav .menu-main li:after {
   
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  header nav ul.menu-main li:last-child:after {content: none;}
  header nav ul.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 60px 0 15px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  header nav ul.menu-main a, header nav ul.menu-main a:visited {color: #9d999d;}
  header nav ul.menu-main a.current, header nav ul.menu-main a:hover{color: #feb386;}
  header nav ul.menu-main a:before,
  header nav ul.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  header nav ul.menu-main a:hover:before, .menu-main .current:before {left: 0;}
  header nav ul.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  header nav ul.menu-main {padding-top: 0;}
  header nav ul.menu-main li {display: block;}
  header nav ul.menu-main li:after {content: none;}
  header nav ul.menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }

    header nav a:hover{
      color:tomato;
  }
    header .button{
    width:25%; 
    height:80%;
    color:black;
    text-decoration: none;

  }
  header .button h3{
      
      text-decoration: none;
      top: 10px; 
  }
  

  .text{
      display:grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
      
  }

div#footer{
    background:rgb(34, 34, 34);
    width: 1100px;
    height: 200px;

}

#footer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    position: relative;
  left: 0;
  bottom: 0;
  margin-top:-80px;
  
    


}
    
#footer div h4 {
    color:#aaaaaa;
    text-decoration: none;
    margin-left: 50px;
}

#footer div a{
    color:#aaaaaa;
    text-decoration: none;
    margin-left:60px;
}




