body{
    width: 1100px;
    margin:0 auto;
    height: 700px;
    background-color: #cecece;
  }
  
  
  
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }
  
  .info{
    margin-top: 200px;
  }
  
/*header*/   
header {
  border-bottom: 3px solid #272525 ;
  position:absolute;
  top:0;
  left:0;
  z-index: 3;
  width:100%;
  font-weight: 900;
}


header nav ul.menu-main {
  display: grid;
  grid-template-columns: 4fr  2fr 2fr 2fr 2fr;
  list-style: none;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  width: 1100px;
  height: 110px;  
  background-image: url(fon1.jpg);
  text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 15px yellow, 0 0 20px green, 0 0 25px aqua, 0 0 30px blue, 0 0 35px purple;
  
}



header nav ul.menu-main a {
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 60px 0 15px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  z-index: 2;
  font-weight: 700;
}



header nav ul.menu-main a, 
header nav ul.menu-main a:visited 
{
      color: #cf7258;
}/*culoarea la butoanele din nav*/

header nav ul.menu-main a.current, 
header nav ul.menu-main a:hover
{
      color: #e95b03;
}


header .button{
  width:25%; 
  height:80%;
  color:black;
  text-decoration: none;
}


header .button h3{  
  text-decoration: none;
  top: 10px; 
}


 /*information*/
.info {
  margin-top: 150px;
  height:500px;
  width:1100px;
  background-color:#e7e7e7 ;
  z-index:1;
  padding:10px;
  text-align: center;
  font-size: 20px;;
}

.info img{
  width: 1000px;
}


/*about*/
.about {
  margin-top: 50px;
  z-index: 0;
  width: 1100px;
  height: 600px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  text-align: center;
}

.about p {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  background: #cf7258;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  
}




 
  /*footer*/
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  position: absolute;
  margin-left: 1px;
  background-image: url(fon1.jpg);
  width: 1100px;
  height: 200px;
  margin-top: 50px;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  z-index: 0;
  text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 15px yellow, 0 0 20px green, 0 0 25px aqua, 0 0 30px blue, 0 0 35px purple;
}



footer div h4 {
  color:#000000;
  text-decoration: none;
  margin-left: 50px;
  
}

footer div a{
  color:#000000;
  text-decoration: none;
  margin-left:60px;
  font-weight: 900;

}

  
  