body{
    width: 1100px;
    margin:0 auto;
    height: 800px;
    background-color: #cecece;
  }
  
  
  
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }
  
  
  
  header {
    border-bottom: 3px solid #272525 ;
    position:absolute;
    top:0;
    left:0;
    z-index: 3;
    width:100%;
    font-weight: 900;
  }
  
  
  header nav ul.menu-main {
    display: grid;
    grid-template-columns: 4fr  2fr 2fr 2fr 2fr;
    list-style: none;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    width: 1100px;
    height: 110px;  
    background-image: url(fon1.jpg);
    text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 15px yellow, 0 0 20px green, 0 0 25px aqua, 0 0 30px blue, 0 0 35px purple;
    
  }
  
  
  header nav ul.menu-main li {
    display: inline-block;
  }
  
  header nav .menu-main li:after {
      color: #606060;
      display: inline-block;
      vertical-align:top;
  }
  
  
  
  header nav ul.menu-main a {
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 60px 0 15px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    z-index: 2;
    font-weight: 700;
  }
  
  
  
  header nav ul.menu-main a, 
  header nav ul.menu-main a:visited 
  {
    color: #575457;
  }/*culoarea la butoanele din nav*/
  
  header nav ul.menu-main a.current, 
  header nav ul.menu-main a:hover
  {
    color: #fa7f33;
  }
  
  header nav ul.menu-main a:before,
  header nav ul.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  
  header .button{
    width:25%; 
    height:80%;
    color:black;
    text-decoration: none;
  }
  
  
  header .button h3{  
    text-decoration: none;
    top: 10px; 
  }
  
.text img{
  width: 1100px;
  margin-top: 150px;

}

.text h1{
  font-family: 'Inconsolata', monospace;
  font-size: 30px;

}

.text h2{
  opacity:0.6;
}
.rounded {
  counter-reset: li; 
  list-style: none; 
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }

/*1em=16px*/
  .rounded a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #cfb090;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
  }


  .rounded a:hover
   {
     background: #ebbb95;
    }


  .rounded a:hover:before 
  {
    transform: rotate(360deg);
  }
  .rounded a:before 
  {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -21px;
  top: 50%;
  margin-top: -21px;
  background: #8FD4C1;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border: .48px solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 32px;
  transition: all .3s ease-out;
  }


.partener h1{
  margin-top:100px;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;

}
.partener h2{
  margin-top: -20px;
  margin-left: 25px;
  opacity: 0.6;
}

.pills {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
  font-family: calibri;
}
.pills li {
  padding: 10px 0;
  position: relative;
  left: 1.5em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  background: #E3DEDC;
}
.pills li:before {
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5em;
  width: 1.875em;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #fa7334;
  border-bottom-left-radius: 70em;
  border-top-left-radius: 70em;
  counter-increment: li;
  content: counter(li);
}

.waranty img{
  width: 1100px;
  margin-top: 50px;
}

.grid-container-gap{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 300px 400px 300px;
  gap:20px 50px;
  border-radius: 10px;
}

.grid-element1{
height: 550px;
background: rgb(225, 116, 65);
border-radius: 10px;
margin-top: 90px;
padding: 10px 10px 10px 10px;
}


.grid-element2{
  height: 720px;
  background: rgb(180, 171, 166);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  }
  
  .grid-element3{
    height: 550px;
    background: rgb(253, 122, 62);
    border-radius: 10px;
    margin-top: 90px;
    padding: 10px 10px 10px 10px;
    }
    














/*citate*/
blockquote {
  background: linear-gradient(135deg, #F6EEDB 50%, #848a87 50%);
  padding: 50px 30px;
  text-align: center;
  
  color: #49152C;
  padding: 30px 50px;
  font-family: 'Lato', sans-serif;
  }
  blockquote p {
  font-size: 22px;
  margin-top: 30px;
  }
  

  
  /*footer*/
  footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    position: absolute;
    margin-left: 1px;
    background-image: url(fon1.jpg);
    width: 1100px;
    height: 200px;
    margin-top: 100px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    z-index: 0;
    text-shadow: 0 0 5px red, 0 0 10px orange, 0 0 15px yellow, 0 0 20px green, 0 0 25px aqua, 0 0 30px blue, 0 0 35px purple;
  }
  
  
  
  footer div h4 {
    color:#000000;
    text-decoration: none;
    margin-left: 50px;
    
  }
  
  footer div a{
    color:#000000;
    text-decoration: none;
    margin-left:60px;
    font-weight: 900;
  
  }
  
  